<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhn.mapper.VideosMapper" >
  <resultMap id="BaseResultMap" type="com.lhn.pojo.Videos" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="audio_id" property="audioId" jdbcType="VARCHAR" />
    <result column="video_desc" property="videoDesc" jdbcType="VARCHAR" />
    <result column="video_path" property="videoPath" jdbcType="VARCHAR" />
    <result column="video_seconds" property="videoSeconds" jdbcType="REAL" />
    <result column="video_width" property="videoWidth" jdbcType="INTEGER" />
    <result column="video_height" property="videoHeight" jdbcType="INTEGER" />
    <result column="cover_path" property="coverPath" jdbcType="VARCHAR" />
    <result column="like_counts" property="likeCounts" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <update id="updateVideoKeySelective" parameterType="com.lhn.pojo.Videos">
    UPDATE videos
    <trim prefix="set" suffixOverrides=",">
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="audioId != null">
        audio_id = #{audioId},
      </if>
      <if test="videoDesc != null">
        video_desc = #{videoDesc},
      </if>
      <if test="videoPath != null">
        video_path = #{videoPath},
      </if>
      <if test="videoSeconds != null">
        video_seconds = #{videoSeconds},
      </if>
      <if test="videoWidth != null">
        video_width = #{videoWidth},
      </if>
      <if test="videoHeight != null">
        video_height = #{videoHeight},
      </if>
      <if test="coverPath != null">
        cover_path = #{coverPath},
      </if>
      <if test="likeCounts != null">
        like_counts = #{likeCounts},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="createTime != null">
        create_time = #{createTime}
      </if>
    </trim>
    where id = #{id}
  </update>
</mapper>